# inspried by https://github.com/sharkdp/hyperfine/blob/master/.github/workflows/CICD.yml
name: Release

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

env:
  CICD_INTERMEDIATES_DIR: "_release-intermediates"

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Run `cargo publish` - upload to crates.io
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cargo publish

  upload:
    name: ${{ matrix.job.os }} (${{ matrix.job.target }})
    runs-on: ${{ matrix.job.os }}
    strategy:
      fail-fast: false
      matrix:
        job:
          - { os: ubuntu-20.04, target: x86_64-unknown-linux-musl, use-cross: true }
          - { os: ubuntu-latest, target: x86_64-unknown-linux-gnu, use-cross: true }
          - { os: ubuntu-latest, target: aarch64-unknown-linux-gnu, use-cross: true }
          - { os: ubuntu-latest, target: aarch64-unknown-linux-musl, use-cross: true }
          - { os: macos-latest, target: x86_64-apple-darwin, use-cross: true }
          - { os: macos-latest, target: aarch64-apple-darwin, use-cross: true }
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.job.target }}

      - name: Extract crate information
        shell: bash
        run: |
          metadata=$(cargo metadata --no-deps --format-version 1 | jq -r '.packages[0]')
          echo "PROJECT_NAME=$(echo "$metadata" | jq -r '.name')" >> $GITHUB_ENV
          echo "PROJECT_VERSION=$(echo "$metadata" | jq -r '.version')" >> $GITHUB_ENV
          echo "PROJECT_MAINTAINER=$(echo "$metadata" | jq -r '.authors[0]')" >> $GITHUB_ENV
          echo "PROJECT_HOMEPAGE=$(echo "$metadata" | jq -r '.homepage')" >> $GITHUB_ENV

      - name: Show version information (Rust, cargo, GCC)
        shell: bash
        run: |
          gcc --version || true
          rustup -V
          rustup toolchain list
          rustup default
          cargo -V
          rustc -V

      - name: Install cross
        uses: taiki-e/install-action@v2
        with:
          tool: cross

      - name: Build with cross
        run: cross build --release --target=${{ matrix.job.target }}

      - name: Set binary name & path
        id: bin
        shell: bash
        run: |
          # Setup paths
          BIN_NAME="${{ env.PROJECT_NAME }}"
          BIN_PATH="target/${{ matrix.job.target }}/release/${BIN_NAME}"

          # Let subsequent steps know where to find the binary
          echo "BIN_PATH=${BIN_PATH}" >> $GITHUB_OUTPUT
          echo "BIN_NAME=${BIN_NAME}" >> $GITHUB_OUTPUT

      - name: Create tarball
        id: package
        shell: bash
        run: |
          PKG_BASENAME=${PROJECT_NAME}-${PROJECT_VERSION}-${{ matrix.job.target }}
          PKG_NAME=${PKG_BASENAME}.tar.gz
          echo "PKG_NAME=${PKG_NAME}" >> $GITHUB_OUTPUT
          PKG_STAGING="${{ env.CICD_INTERMEDIATES_DIR }}/package"
          ARCHIVE_DIR="${PKG_STAGING}/${PKG_BASENAME}/"
          mkdir -p "${ARCHIVE_DIR}"
          
          # Binary
          cp "${{ steps.bin.outputs.BIN_PATH }}" "$ARCHIVE_DIR"
          
          # README, LICENSE and CHANGELOG files
          cp "README.md" "LICENSE" "CHANGELOG.md" "$ARCHIVE_DIR"
          
          # base compressed package
          pushd "${PKG_STAGING}/" >/dev/null
          tar czf "${PKG_NAME}" "${PKG_BASENAME}"/*
          popd >/dev/null
          
          # Let subsequent steps know where to find the compressed package
          echo "PKG_PATH=${PKG_STAGING}/${PKG_NAME}" >> $GITHUB_OUTPUT

      - name: "Artifact upload: tarball"
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.package.outputs.PKG_NAME }}
          path: ${{ steps.package.outputs.PKG_PATH }}

      - name: Publish archives and packages
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{ steps.package.outputs.PKG_PATH }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

